*{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 20%;
    margin: 1rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.pink{
    background-color: #d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #006384;
}

.purple{
    background-color: #819ff9;
}
.flash{
    background-color: white;
}
.userpress{
    background-color: black;
}

